
.idea/

tensorflow/__pycache__/

tensorflow/checkpoint/

*.npy

tensorflow/NYU_FCRN-checkpoint.zip

*.pyc

*.h5

tensorflow/util/__init__.py

*.hdf5

tensorflow/dataset/RAW DATASET/

*.pt

tensorflow/confusion_matrix.png

tensorflow/dataset/Smaller depth None free/*

tensorflow/dataset/Smaller depth/*

tensorflow/Best models/*
tensorflow/Best_models/*
